@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #113;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-around;
}

.col-header {
  flex: 1;
  padding: 0.8rem 1rem;
  color: #fff;

  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;

  text-align: center;
}

.col-header:last-child {
  border-right: 0;
}

.item {
  width: 150px;
  height: 66px;
  border-radius: 5px;
  background: #f7f6f7;
  color: #828282;
  text-align: center;
  cursor: grab;

  display: flex;
    justify-content: center;
    align-items: center;

  border: 5px solid transparent;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  flex: 1;
  height: 66px;

  border-right: 1px solid #ccc;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 1em;

  transition: background-color .1s ease-in-out;
}

.placeholder:last-child {
  border-right: none;
}

.placeholder.progress .item {
  background: #0d0d7a;
  color: #fff;
}

.placeholder.done .item {
  background: #0c830c;
  color: #fff;
}

.hold {
  border-color: #0d0d7a;
}

.hide {
  display: none;
}

.hovered {
  background: rgba(255, 255, 255, .2);
}